/* 首页文章卡片 */
#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, 0.8);
}

/* 首页侧栏卡片 */
.card-widget {
    background: rgba(255, 255, 255, 0.8) !important;
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255, 0.8);
}

/* 分页页面 */
div#page {
    background: rgba(255, 255, 255, 0.8);
}

/* 归档页面 */
div#archive {
    background: rgba(255, 255, 255, 0.8);
}

/* 标签页面 */
div#tag {
    background: rgba(255, 255, 255, 0.8);
}

/* 分类页面 */
div#category {
    background: rgba(255, 255, 255, 0.8);
}

/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 头图透明 */
#page-header {
    background: transparent !important;
}

/*白天模式伪类遮罩层透明*/
[data-theme="light"] #footer::before {
    background: transparent !important;
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/*夜间模式页面背景设置为半透明*/
[data-theme="dark"] div.recent-post-item {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] #aside-content .card-widget {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] div#post {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] div#page {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] div#archive {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] div#tag {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] div#category {
    background: rgba(0, 0, 0, 0.5) !important;
}

/*阅读模式*/
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}

.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}

/*夜间阅读模式*/
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #eeeeee;
}

[data-theme="dark"] .read-mode div#post {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #eeeeee;
}

/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
}

/*菜单栏

/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
}

/* 这里的5是代表导航栏的第5个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(5) .menus_item_child {
    left: -125px;
}

/* 循环霓虹灯
/* 日间模式生效 */
[data-theme="light"] #nav .site-page,
[data-theme="light"] #nav .menus_items .menus_item .menus_item_child li a {
    animation: light_2px 10s linear infinite;
}

[data-theme="light"] #site-name,
[data-theme="light"] #site-title {
    animation: light_15px 10s linear infinite;
}

[data-theme="light"] #site-subtitle {
    animation: light_10px 10s linear infinite;
}

[data-theme="light"] #post-info {
    animation: light_5px 10s linear infinite;
}

/* 夜间模式生效 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
    animation: light_2px 10s linear infinite;
}

[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
    animation: light_2px 10s linear infinite;
}

[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
    animation: light_15px 10s linear infinite;
}

[data-theme="dark"] #site-subtitle {
    animation: light_10px 10s linear infinite;
}

[data-theme="dark"] #post-info {
    animation: light_5px 10s linear infinite;
}

/* 关键帧描述 */
@keyframes light_15px {
    0% {
        text-shadow: #5636ed 0 0 15px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 15px;
    }

    25% {
        text-shadow: #f14747 0 0 15px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 15px;
    }

    50% {
        text-shadow: #f1ee47 0 0 15px;
    }

    50% {
        text-shadow: #b347f1 0 0 15px;
    }

    62.5% {
        text-shadow: #002afa 0 0 15px;
    }

    75% {
        text-shadow: #ed709b 0 0 15px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 15px;
    }

    100% {
        text-shadow: #5636ed 0 0 15px;
    }
}

@keyframes light_10px {
    0% {
        text-shadow: #5636ed 0 0 10px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 10px;
    }

    25% {
        text-shadow: #f14747 0 0 10px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 10px;
    }

    50% {
        text-shadow: #f1ee47 0 0 10px;
    }

    50% {
        text-shadow: #b347f1 0 0 10px;
    }

    62.5% {
        text-shadow: #002afa 0 0 10px;
    }

    75% {
        text-shadow: #ed709b 0 0 10px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 10px;
    }

    100% {
        text-shadow: #5636ed 0 0 10px;
    }
}

@keyframes light_5px {
    0% {
        text-shadow: #5636ed 0 0 5px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 5px;
    }

    25% {
        text-shadow: #f14747 0 0 5px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 5px;
    }

    50% {
        text-shadow: #f1ee47 0 0 5px;
    }

    50% {
        text-shadow: #b347f1 0 0 5px;
    }

    62.5% {
        text-shadow: #002afa 0 0 5px;
    }

    75% {
        text-shadow: #ed709b 0 0 5px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 5px;
    }

    100% {
        text-shadow: #5636ed 0 0 5px;
    }
}

@keyframes light_10px {
    0% {
        text-shadow: #5636ed 0 0 10px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 10px;
    }

    25% {
        text-shadow: #f14747 0 0 10px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 10px;
    }

    50% {
        text-shadow: #f1ee47 0 0 10px;
    }

    50% {
        text-shadow: #b347f1 0 0 10px;
    }

    62.5% {
        text-shadow: #002afa 0 0 10px;
    }

    75% {
        text-shadow: #ed709b 0 0 10px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 10px;
    }

    100% {
        text-shadow: #5636ed 0 0 10px;
    }
}

@keyframes light_2px {
    0% {
        text-shadow: #5636ed 0 0 2px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 2px;
    }

    25% {
        text-shadow: #f14747 0 0 2px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 2px;
    }

    50% {
        text-shadow: #f1ee47 0 0 2px;
    }

    50% {
        text-shadow: #b347f1 0 0 2px;
    }

    62.5% {
        text-shadow: #002afa 0 0 2px;
    }

    75% {
        text-shadow: #b12cea 0 0 2px;
    }

    87.5% {
        text-shadow: #0d766f 0 0 2px;
    }

    100% {
        text-shadow: #5636ed 0 0 2px;
    }
}

/* 背景宇宙星光  */
#universe{
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
  z-index: -1;
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}

/* 鼠标样式 */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: rgb(4, 249, 236);
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}
